<!-- Typing -->
<div id="typing">
    <button id="top-left-button" type="button">
        <span class="material-icons">
            home
        </span>
    </button>

    <p id="defeat-message">Vous avez perdu.</p>

    <div id="chrono"></div>
    <p id="actor-name" class="bold">Brad Pitt</p>
    <div id="actor-image"></div>
    <form id="actor-form">
        <input type="text" name="actor-name">
        <button type="submit">
            <span class="material-icons">
                send
            </span>
        </button>
    </form>
    <p id="info-result">Ils n'ont jamais joué ensemble.</p>
</div>

<div id="end-game">
    <p></p>
</div>