<div id="home">
    <button id="top-left-button" type="button">
        <span class="material-icons">
            auto_stories
        </span>
    </button>
    <div class="logo">
        <div class="logo-img"></div>
        <h1>Roland Filmos</h1>
    </div>
    <div id="home-menu">
        <div id="username-wrapper">
            <span id="username">Viliprant</span>
            <form id="username-form">
                <input type="text" name="username" maxlength="10" autocomplete="off" />
            </form>
        </div>
        <button id="start-game" type="button">
            <span class="material-icons">
                sports_tennis
            </span>
            <span> Commencer une partie</span>
        </button>
        <button id="join-game" type="button">
            <span class="material-icons">
                meeting_room
            </span>
            <span> Rejoindre une partie</span>
        </button>
    </div>
</div>