<div id="home">
    <button id="top-left-button" type="button">
        <span class="material-icons">
            auto_stories
        </span>
    </button>
    <div class="logo">
        <div class="logo-img"></div>
        <h1>Roland Filmos</h1>
    </div>
    <div id="home-menu">
        <div id="username-wrapper">
            <span id="username">Viliprant</span>
            <form id="username-form">
                <input type="text" name="username" maxlength="10" autocomplete="off" />
            </form>
        </div>
        <button id="start-game" type="button">
            <span class="material-icons">
                sports_tennis
            </span>
            <span> Commencer une partie</span>
        </button>
        <button id="join-game" type="button">
            <span class="material-icons">
                meeting_room
            </span>
            <span> Rejoindre une partie</span>
        </button>
    </div>

    <div id="rules">
        <h1>Règles</h1>
        <ul>
            <li><span class="bold">Un nom d'acteur est donné</span> par le jeu au premier joueur.</li>
            <li>Le premier joueur doit saisir le nom d'un acteur <span class="bold">ayant joué avec ce dernier</span>.</li>
            <li>Le joueur suivant doit saisir le nom d'un acteur ayant joué <span class="bold">avec le dernier acteur cité</span>, et ainsi de suite ...</li>
            <li>Le joueur qui <span class="bold">ne trouve plus d'acteur</span> ou qui <span class="bold">se trompe</span> est <span class="bold">éliminé</span> de la partie.</li>
            <li class="bold">Le dernier joueur restant est le gagnant.</li>
            <li>Les joueurs ont <span class="bold">15 secondes</span> pour saisir une réponse.</li>
            <li>Pour qu'une réponse soit valide, il faut rentrer <span class="bold">le nom et le prénom</span> de l'acteur.</li>
            <li>Les joueurs <span class="bold">ne peuvent pas répéter</span> un même nom d'acteur pendant <span class="bold">une même partie</span>.</li>
        </ul>
    </div>
</div>