<button id="top-left-button" type="button">
    <span class="material-icons">
        home
    </span>
</button>

<!-- Public or private -->
<div id="type-wrapper">
    <button id="public" type="button">
        <span class="material-icons">
            public
        </span>
        <span>Partie publique</span>
    </button>
    <button id="private" type="button">
        <span class="material-icons">
            lock
        </span>
        <span>Partie privée</span>
    </button>
</div>

<!-- Type your party ID -->
<form id="form-party">
    <label for="id-party">ID Partie</label>
    <input id="id-party" type="text" maxlength="6" autocomplete="off" />
    <input type="submit" value="Rejoindre"/>
</form>

<!-- Choose number player -->
<div id="nb-player-wrapper">
    <span>Nombre de joueurs :</span>
    <div id="buttons-wrapper">
        <button type="button">
            <span> 2 </span>
            <span class="material-icons">
                person
            </span>
        </button>
        <button type="button">
            <span> 4 </span>
            <span class="material-icons">
                person
            </span>
        </button>
        <button type="button">
            <span> 6 </span>
            <span class="material-icons">
                person
            </span>
        </button>
    </div>
</div>