* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#app {
  background-color: #dfe6f5;
  height: 100vh;
  width: 100%;
  font-family: sans-serif;
  font-size: 1.5rem;
  color: #343642;
  position: relative;
}

button {
  outline: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.3rem;
  border: none;
  background-color: white;
  color: var(--main-color);
  -webkit-box-shadow: 2px 10px 0 2px rgba(0, 0, 0, 0.12);
          box-shadow: 2px 10px 0 2px rgba(0, 0, 0, 0.12);
  padding: 0.5rem;
  border-radius: 5px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

button#top-left-button {
  position: absolute;
  top: 1rem;
  left: 1rem;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

button#top-left-button > span.material-icons {
  font-size: 1.6rem;
  margin: 0;
}

button:active, button input[type="submit"]:active {
  -webkit-box-shadow: inset 2px 2px 0 2px rgba(0, 0, 0, 0.12) !important;
          box-shadow: inset 2px 2px 0 2px rgba(0, 0, 0, 0.12) !important;
}

button + button {
  margin-top: 2rem;
}

button > span.material-icons {
  font-size: 3rem;
  margin-right: 1rem;
}

input {
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  text-align: center;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border: none;
  border-radius: 5px;
  margin-top: 1rem;
  background-color: white;
}

input[type="submit"] {
  outline: none;
  color: #343642;
  -webkit-box-shadow: 2px 10px 0 2px rgba(0, 0, 0, 0.12);
          box-shadow: 2px 10px 0 2px rgba(0, 0, 0, 0.12);
}

ul {
  padding: 0 2rem 0 40px;
  text-align: justify;
}

.bold {
  font-weight: bold;
  color: black;
}

#home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 4em;
  height: 100%;
  width: 100%;
}

#home .logo {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 5rem;
}

#home .logo > .logo-img {
  margin-bottom: 1rem;
  font-size: 5rem;
  height: 100px;
  width: 100px;
  background-image: url("../../assets/tennis.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

#home .logo > h1 {
  text-align: center;
  color: var(--main-color);
  font-size: 2.5rem;
}

#home #username-wrapper {
  text-align: center;
  font-weight: bold;
  padding: 1rem;
  width: 100%;
  overflow: hidden;
}

#home #username-form {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  overflow: hidden;
}

#home #home-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 90%;
}

#home #rules {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  left: 0;
  bottom: 100%;
  right: 0;
  margin: auto;
  height: inherit;
  width: 100vw;
  background-color: white;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-radius: 5px;
  overflow: hidden;
}

#home #rules > h1 {
  padding: 1rem;
}

#home #rules.show {
  bottom: 0;
}

#home #rules ul {
  font-size: 0.7em;
  height: inherit;
  overflow-y: auto;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 1rem;
}

#home #rules ul > li + li {
  margin-top: 1rem;
}

#type-wrapper {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
}

#type-wrapper button {
  width: 90%;
}

#form-party {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
}

#nb-player-wrapper {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
}

#nb-player-wrapper > span {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

#nb-player-wrapper .material-icons {
  margin-right: 0;
}

#waiting-room {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem;
  height: 100%;
}

#waiting-room #id-party {
  -ms-flex-item-align: end;
      align-self: flex-end;
  line-height: 60px;
  height: 60px;
}

#waiting-room #participants {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2rem;
  margin-bottom: 1rem;
  padding: 1rem;
  -ms-grid-columns: (minmax(47%, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(47%, 1fr));
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: inherit;
  overflow-x: hidden;
  overflow-y: visible;
  -webkit-box-shadow: inset 0 1px 2rem rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 1px 2rem rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

#waiting-room #participants .participant {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  height: 10vh;
  background-color: white;
  padding: 1rem;
  -webkit-box-shadow: 2px 5px 0 2px rgba(0, 0, 0, 0.12);
          box-shadow: 2px 5px 0 2px rgba(0, 0, 0, 0.12);
}

#waiting-room #participants .participant .avatar {
  width: 50px;
  height: 50px;
  background-color: #cecece;
  margin-right: 1rem;
}

#waiting-room #participants .participant .username {
  font-size: 1.6rem;
}

#waiting-room button {
  margin-bottom: 1rem;
  position: relative;
  font-weight: bold;
  padding: 1rem;
  font-size: 1.4rem;
  color: grey;
}

#waiting-room button.has-permission {
  color: white;
  background-color: #7bc043;
  -webkit-box-shadow: 2px 5px 0 2px rgba(123, 192, 67, 0.8), 2px 5px 0 2px black;
          box-shadow: 2px 5px 0 2px rgba(123, 192, 67, 0.8), 2px 5px 0 2px black;
}

#waiting-room button.has-permission:active {
  -webkit-box-shadow: inset 2px 5px 0 1px rgba(123, 192, 67, 0.8), inset 2px 5px 0 1px black;
          box-shadow: inset 2px 5px 0 1px rgba(123, 192, 67, 0.8), inset 2px 5px 0 1px black;
}

#typing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem;
}

#typing > * + * {
  margin-top: 2rem;
}

#typing #top-left-button {
  display: none;
}

#typing #defeat-message {
  display: none;
  color: #ff5722;
}

#typing #chrono {
  border-radius: 50%;
  color: #5b5e64;
  padding: 0.75rem;
  border: 2px solid grey;
}

#typing #actor-name {
  font-size: 2rem;
}

#typing #actor-image {
  background-image: url("/assets/test-actor-image-brad-pitt.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 40vh;
  width: 90vw;
  margin-top: 0.5rem;
}

#typing #actor-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#typing #actor-form input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: initial;
  height: 3rem;
  margin: 0 0.5rem 0 0;
  padding: 0.5rem;
}

#typing #actor-form > button[type="submit"] {
  height: 3rem;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

#typing #actor-form > button[type="submit"] span {
  font-size: 2rem;
  margin: 0;
}

#typing #info-result {
  font-size: 1.2rem;
  margin-top: 1rem;
}

#typing #info-result.success {
  color: #4caf50;
}

#typing #info-result.error {
  color: #ff5722;
}

#end-game {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
}
